.Navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    
  }


  .Navbar  #hidden {
    position: absolute;
    left: 0px;
    top: 80px;
    height: 300px;
    width: 200px;
    margin-left: 30px;
    background-color: rgb(24 24 27);
    opacity: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    z-index: 50;
    
  }


  .Navbar .links {
    display: none;
  }

  .Navbar .links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 14px;
    
  }
