.challanges-container {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* z-index: inherit; */
}

.challanges-title {
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 5vw;
    z-index: 20;
    background: -webkit-linear-gradient(#eee, #8ed3ba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.codewars-title {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Courier New", Courier, monospace;

}

.codewars {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comp-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.chall-wrapper {
    width: 250px;
    max-width: 300px;
    min-height: 100px;
    background: linear-gradient(90deg, rgb(141, 255, 177), rgb(3, 125, 255));
    margin: 1rem;
    border-radius: 10px;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.chall-wrapper::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: .5;
    border-radius: 10px;
    border: 5px solid rgba(255, 255, 255, 0.696);



}

.chall-wrapper p {
    position: relative;
    display: flex;
    flex-direction: row;

    color: white;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    font-size: .8em;
}

.p-wrapper {
    padding: 10px;
}

.icon {
    min-width: 15px;
}

.show-more-button {
    color: rgb(105, 105, 105);
    width: 100px;
}

.show-more-button::before {
    content: 'show more';

}

.show-more-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-less-button {
    color: rgb(105, 105, 105);
    display: none;
    width: 100px;


}

.show-less-button::after {
    content: 'show less';

}

.show-less-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.code-snippets {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.snippet-wrapper{
    position: relative;
    
}
.snippet-wrapper:hover .code-snippet-container{
    opacity: 0.3;
    cursor: default;
}
.snippet-wrapper:hover .link{
    opacity: 1;
}
.code-snippet-container{
    width: 300px;
    height: 400px;
    background: white;
    margin: 1rem;
    border-radius: 10px;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    overflow: hidden;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.top{
    height: 100%;
    width:  100%;
    background-color: black;
}
.top img{
    width: 400px;
}
.bottom{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: flex-start;
    height: 100%;
    width: 100%;
    padding: 10px

}
.bottom h2, p{
    color: black;
    /* text-align: center; */
    font-family: 'PT Serif', serif;
}
.bottom h2{
    font-weight: 700;
    font-size: large;
    
}
.bottom p:nth-child(3){
    color: rgb(69, 69, 69);
    font-size: smaller;
    font-family: 'Roboto Mono', monospace;
}

.link{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
   
}

.link-p{
    background: linear-gradient(45deg, rgb(76, 143, 97), rgb(0, 75, 156));
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: small;
    padding: 15px 30px;
}
.snippets-map{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}