.challanges-container {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* z-index: inherit; */
}
.challanges-title {
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 5vw;
    z-index: 20;
    background: -webkit-linear-gradient(#eee, #8ed3ba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.codewars-title{
    text-align: center;
    padding: 1rem;
    font-size: 1.3rem;
    font-family: "Courier New", Courier, monospace;

}
.comp-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.chall-wrapper{
    width: 250px;
    max-width: 300px;
    min-height: 150px;
    background: linear-gradient(90deg, rgb(141, 255, 177), rgb(3, 125, 255));
    margin: 1rem;
    border-radius: 10px;
    position: relative;
    color: white;
   
 
    
    
}
.chall-wrapper::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: .5;
    border-radius: 10px;
    border: 5px solid rgba(255, 255, 255, 0.696) ;
   
    
  
  }
.chall-wrapper p{
    position: relative;
    display: flex;
    flex-direction: row;
    color: white;
    
    
}
.p-wrapper{
    padding: 20px;
}