.mil-container{
    width: 100%;
    height: 200vh;
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.mil-right{
    width: 50%;
    height: 600px;
    margin-top: -50%;
    background: url(../pictures/Fries.jpg) no-repeat center / cover;
    border-radius: 8px;
}
.mil-left{
    width: 50%;
    height: 400px;
    background: url(../pictures/Zodiac.jpg) no-repeat center / cover;
    border-radius: 8px;
}
.mil-right-text{
    width: 50%;
    color: azure;
    font-size:10vw;
    text-align:right;
    
   
}
.mil-left-text{
    width: 50%;
    margin-top: -25%;
    color: azure;
    font-size:9vw;
    text-align:left;
   
}
/* 
.left{
    width: 50%;
    min-height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: black;
    margin-right: -150px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 760px){
    .container{
        flex-direction: column;
        width: 100%;
        margin: 0 20px;
    }
    .right{
        width: 100%;
        height: full;
    }
    .left{
        width: 90%;
        margin: 0;
        margin-top: -50px;
    }
} */