.name {
    font-size: 9vw;
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
    
    
    
}


.role {
    font-size: 3vw;
    font-weight: 900;
    color: white;

}

.role p {
    font-weight: 600;

}

.david-span {

    text-align: center;

    background: linear-gradient(45deg,rgb(4, 96, 255),rgb(80, 238, 255), #6ee7b7, #10b981);
    background-size: 400% 400%;
    color: #10b981;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 18s  ease-in-out infinite;

    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media only screen and (max-width: 760px) {
    .memoji {
        margin-top: 20%;
    }

    .name {
        font-size: 10vw;
    }

    .role {
        font-size: 4vw;

    }
}