.name {
    font-size: 9vw;
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
    text-shadow: 1px 3px 10px black;
    ;
  }
.role {
    font-size: 3vw;
    font-weight: 900;
    color: white;

}

.role p {
    font-weight: 600;
    
}