.name {
    font-size: 9vw;
    font-family: "Courier New", Courier, monospace;
    font-weight: 900;
    text-shadow: 1px 3px 10px black;
    ;
  }
.role {
    font-size: 3vw;
    font-weight: 900;
    color: white;

}

.role p {
    font-weight: 600;
    
}

@media only screen and (max-width: 760px){
    .memoji{
        margin-top: 20%;
    }
    .name{
        font-size: 10vw;
    }
    .role{
        font-size: 4vw;
        margin-left: ;
    }
}
