.main {
  width: 100%;
 position: relative;
  margin: 0;
  padding: 0;
  background-color: #262626;
  overflow-y: hidden;

}

#ghost{
  background-color: white;
  height: 500px;
  width: 500px;
  aspect-ratio: 1;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 50% 30% 30% 50%;
  background: linear-gradient( to left, rgb(129, 3, 255), rgb(244, 68, 115));
  animation: ghost-rotate 20s ease-in-out infinite;
  filter: blur(100px);
  opacity: .5;
}

.container-title{
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-size: 5vw;
  z-index: 20;
}
.container-title h1 {
 
  background: -webkit-linear-gradient(#eee, #8ed3ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




@media only screen and (max-width: 760px) {
  #ghost{
    display: none;
  }
}


@keyframes ghost-rotate {
  from{
    rotate: 0deg;
  } 

  50%{
    scale: 1 1.2;
  }

  to{
    rotate: 360deg;
  }
}
