.container{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.right{
    width: 40%;
    height: 600px;
    background: url(https://res.cloudinary.com/davidveg/image/upload/v1669666498/realDavid.e5534ea49336421a319c_cvnosb.jpg) no-repeat center / cover;
    border-radius: 8px;
    margin: 20px;
    position: relative;
    z-index: 9;
    
    
}

.left{
    width: 50%;
    min-height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 8px;
    color: black;
    margin-right: -150px;
    margin-bottom: 100px;
    position: relative;
    z-index: 10;
}

@media only screen and (max-width: 760px){
    .container{
        flex-direction: column;
        width: 80%;
        margin: 0 20px;
    }
    .right{
        width: 100%;
        height: full;
    }
    .left{
        width: 90%;
        margin: 0;
        margin: 20px;
        margin-top: -50px;
    }
}