.container{
    width: 90%;
    max-width: 1000px;
    
    margin: 50px auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.right{
    width: 50%;
    height: 600px;
    background: url(../pictures/realDavid.jpg) no-repeat center / cover;
    border-radius: 8px;
    margin: 20px;
    
    
}

.left{
    width: 50%;
    min-height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: black;
    margin-right: -150px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 760px){
    .container{
        flex-direction: column;
        width: 100%;
        margin: 0 20px;
    }
    .right{
        width: 100%;
        height: full;
    }
    .left{
        width: 90%;
        margin: 0;
        margin: 20px;
        margin-top: -50px;
    }
}