.projects-container {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: inherit;
}

.projects-container img {
    width: 80%;
}

.projects-title {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 5vw;
    z-index: 20;
}

.project-card {
    width: 80%;
    min-height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 100px;
    margin-top: 20px;
    z-index: 10;
}

.project-card h1 {
    width: 30%;


}

.project-divider {
    border-top: 3px solid;
    border-radius: 8px;

    color: grey;
}

@media only screen and (max-width: 760px) {
    .project-card {
        flex-direction: column;
    }

    .project-card h1 {
        width: 80%;
    }


    .projects-title {
        font-size: 8vw;
    }


}